{% extends 'org_base.html' %}
{% block right_form %}
    <div class="right companycenter layout">
        <div class="head">
            <h1>机构课程</h1>
        </div>
        <div class="brief group_list">
            {% for course in all_course.object_list %}
                <div class="module1_5 box">
                    <a class="comp-img-box" href="course-detail.html">

                        <img width="214" height="195" src="{{ MEDIA_URL }}{{ course.image }}"/>
                    </a>
                    <div class="des">
                        <a href="course-detail.html"><h2>{{ course.name }}</h2></a>
                        <span class="fl">课时：<i class="key">{{ course.learn_times }}</i></span>
                        <span class="fr">学习人数：{{ course.students }}</span>
                    </div>
                    <div class="bottom">
                        <span class="fl">{{ course.course_org }}</span>
                        <span class="star fr  notlogin
                            " data-favid="13" data-fav-type="4">
                            {{ course.fav_num }}
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pageturn">
            <ul class="pagelist">
                {% if all_course.has_previous %}
                    <!-- 上一页 -->
                    <li class="long"><a href="?{{ all_course.previous_page_number.querystring }}">上一页</a></li>
                {% endif %}
                {% for page in all_course.pages %}
                    {% if page %}
                        {% ifequal page all_course.number %}
                            <!-- 当前页 -->
                            <li class="active"><a href="?{{ page.querystring }}" class="page">{{ page }}</a>
                            </li>
                        {% else %}
                            <!-- 其他页 -->
                            <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                        {% endifequal %}
                    {% else %}
                        <li class="none">...</li>
                    {% endif %}
                {% endfor %}
                {% if all_course.has_next %}
                    <!-- 下一页 -->
                    <li class="long"><a href="?{{ all_course.next_page_number.querystring }}">下一页</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}